*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

body{
    overflow-x: hidden;
    background-color: #242424;
}

.sidebar{
    position: fixed;
    width: 450px;
    height: 1000px;
    background-color: #242424;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 400;
}

.sidebar .logo{
    display: flex;
    position: relative;
    top: 45px;
    left: 20px;
    font-size: 13px;
    align-items: center;
    background-color: transparent;
}

.sidebar .logo img{
    width: 45px;
    height: 45px;
    border-radius: 90px;
    box-sizing: border-box;
}
 .sidebar .logo h1{
    margin-left: 5px;
 }


.sidebar .list ul div:first-child,
.sidebar .list ul div:nth-child(2){
    list-style: none;
    position: relative;
    top: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    padding-left: 40px;
    box-sizing: border-box;
}

.sidebar .list ul div:last-child{
    background-color: #7d7d7d;
    border-radius: 30px 0 0 30px;
}

.sidebar .list ul div:first-child li a{
    position: relative;
    top: -5px;
    margin-left: 9px;
    color: #fff;
}

.sidebar .list ul div:last-child li i{
    margin-left: -5px;
    color: #fff;
}

.sidebar .list ul div:last-child li a{
    position: relative;
    top: -5px;
    margin-left: 5px;
    color: #fff;
}

.sidebar .list ul div:first-child li a:hover{
    padding-left: 18px;
    box-sizing: border-box;
    transition: 0.3s;
}

.sidebar .list ul div:last-child li a:hover{
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}

.table{
    position: absolute;
    top: 0;
    left: 200px;
    width: fit-content;
    height: 420px;
    overflow: auto;
}

.table::-webkit-scrollbar{
    display: none;
}
.content{
    width: 1030px;
    height: 695px;
    position: relative;
    float: right;
    background-color: #1b1b1b;
    border-radius: 25px 0 0 25px;
}

.button{
    display: flex;
    position: relative;
    top: 70px;
    left: 730px;
}

.button a button:first-child{
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 220px;
    height: 50px;
    background-color: #292B2F;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700;
    cursor: pointer;
}

.button a button:first-child:hover{
    background-color: #8a8a8a;
    color: #1b1b1b;
    transition: 0.4s;
    margin-left: -10px;
}

.table{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    top: 130px;
    left: 4%;
}

.table tr td{
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 4px 0 4px 3px;
}

.table tr th{
    font-size: 25px;
    width: 145px;
    text-align: left;
    padding: 0px 0 10px 2px;
    box-sizing: border-box;
}

.table tr th:first-child{
    width: 50px;
}

.table tr td:nth-child(3){
    word-wrap: break-word;
    max-width: 170px;
    width: 170px;
}

.table tr th:nth-child(4){
    width: 160px;
}

.table tr th:nth-child(5){
    width: 150px;
}

.table tr td:nth-child(5){
    width: 100px;
}

.table tr td:nth-child(5){
    width: 100px;
}

.table tr th:nth-child(6){
    font-size: 28px;
    width: 255px;
    box-sizing: border-box;
    padding-left: 5px;
}

.table tr th{
    color: #8a8a8a;
    position: sticky;
    top: 0;
    background-color: #1b1b1b;
}

.table tr td{
    font-size: 19px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 3px 0 3px 3px;
}

.table tr td:last-child a:first-of-type button{
    box-sizing: border-box;
    margin-left: 5px;
    background-color:#616F39;
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.table tr td:last-child a:last-of-type button{
    box-sizing: border-box;
    margin-left: 1px;
    background-color: #CA3E47;
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.table tr td:last-child a:first-of-type button:hover{
    transition: 0.3s;
    background-color: #829451;
}

.table tr td:last-child a:last-of-type button:hover{
    transition: 0.3s;
    background-color: #d3535c;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; 
Roboto:wght@300;400;700&family=Ubuntu:wght@300;400;700&*/