*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

body{
    overflow-x: hidden;
    background-color: #242424;
}

.sidebar{
    position: fixed;
    width: 450px;
    height: 1000px;
    background-color: #242424;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 400;
}

.sidebar .logo{
    display: flex;
    position: relative;
    top: 45px;
    left: 20px;
    font-size: 15px;
    align-items: center;
    background-color: transparent;
}

.sidebar .logo img{
    width: 45px;
    height: 45px;
    border-radius: 90px;
    box-sizing: border-box;
}
 .sidebar .logo h1{
    margin-left: 5px;
 }


.sidebar .list ul div:first-child,
.sidebar .list ul div:nth-child(2){
    list-style: none;
    position: relative;
    top: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
    padding-left: 40px;
    box-sizing: border-box;
}

.sidebar .list ul div:first-child{
    background-color: #7d7d7d;
    border-radius: 30px 0 0 30px;
}

.sidebar .list ul div:first-child li a:hover{
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}

.sidebar .list ul div:last-child li a:hover{
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}

.table{
    position: absolute;
    top: 0;
    left: 200px;
}
.content{
    width: 1030px;
    height: 695px;
    position: relative;
    float: right;
    background-color: #1b1b1b;
    border-radius: 40px 0 0 40px;
}

.content #wm{
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700;    
    position: relative;
    top: 50px;
    left: 4%;
}

.button{
    display: flex;
    position: relative;
    top: 70px;
    left: 730px;
}

.button a button:first-child{
    margin-left: 15px;
    width: 240px;
    height: 70px;
    background-color: #292B2F;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700;
    cursor: pointer;
}

.button a button:first-child:hover{
    background-color: #8a8a8a;
    color: #1b1b1b;
    transition: 0.4s;
    margin-left: -20px;
}

.table{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 110px;
    left: 4%;
}

.table tr td{
    padding: 5px 0;
}

.table tr th{
    font-size: 28px;
    width: 145px;
    text-align: left;
    padding: 0px 0 20px 2px;
    box-sizing: border-box;
}

.table tr th:first-child{
    width: 50px;
}

.table tr td:nth-child(3){
    width: 170px;
}

.table tr td:nth-child(4){
    width: 130px;
}

.table tr th:nth-child(5){
    width: 130px;
}

.table tr td:nth-child(5){
    width: 100px;
}

.table tr th:nth-child(6){
    font-size: 28px;
    width: 255px;
}

.table tr th{
    color: #8a8a8a;
}

.table tr td{
    font-size: 22px;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 3px;
}

.table tr td:last-child a:first-of-type button{
    background-color:#616F39;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 16px;
    font-size: 22px;
    font-weight: 400;
    padding-left: 0;
    cursor: pointer;
}

.table tr td:last-child a:last-of-type button{
    background-color: #CA3E47;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 16px;
    font-size: 22px;
    font-weight: 400;
    padding-left: 0;
    cursor: pointer;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; 
Roboto:wght@300;400;700&family=Ubuntu:wght@300;400;700&*/